#container {
    z-index: 10;
    position: relative;
    margin-top: 86px;
}
#banner_warp {
    width: 100%;
    background:black;
}

#banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 420px;
    background-size: cover;
    background-position: center center;
    opacity:0.5;
}


#content_wrap {
    position: relative;
    width: 970px;
    margin: 20px auto 150px;
}

.storeAdd_banner{
	opacity:1;
	background:black;
}


/****** table ******/
#detail_table{
	background: white;
	width:730px;
}

#detail_table{
	margin: 20px 0px 40px 0px;
}

#detail_table tr{
	height:30px;
	margin-top:5px;
	border-top:2px solid #ddd;
	font-size : 10pt;
	vertical-align: middle;	
	line-height: 40px; 
	
}
#detail_table tr:first-child {
	border-top:2px solid #c91b3c;
	
}
#detail_table tr:nth-child(2) td {
	
}
	
#detail_table th{
	width: 120px;
	text-align:left;
	padding:0px 20px;
	font-weight:bold;
	
}

#detail_title{
	font-size:28pt;
	font-weight:bold;
	margin-bottom:20px;
	
}
.detail_imageArea{
	width:1280px;

}

#detail_titleImage{
	
	width:100%;
}

/***** first image *****/
#detail_firstImageWrap{
/* 	width:730px; */
	height:450px;
	
}
#detail_firstImage{
	background:black;
	width:100%;
	height:100%;
}
#detail_h{
	font-size:11pt;
}
p:after{
    width: 20px;
    content: '';
    height: 4px;
    background-color: #ffd014;
}

#map-canvas{
	margin-top:20px;
}

/******* Button Area*****/
#detail_btnAera{
	margin-top:20px;
}

#detail_updateBtn{
    width: 250px;
    height: 35px;
    float: left;
    background: #fff;
    border-radius: 3px;
    margin-top: 12px;
    margin-right: 7px;
    position: relative;
    padding-left: 5px;
    color: #fff;
    background: #920021!important;
    border: 0;
    font-size: 13px;
}
#detail_deleteBtn{
	width: 250px;
    height: 35px;
    float: right;
    background: #fff;
    border-radius: 3px;
    margin-top: 12px;
    margin-right: 7px;
    position: relative;
    padding-left: 5px;
    color: #fff;
    background: #808080!important;
    border: 0;
    font-size: 13px;
	
}
#detail_explain{
	font-size:20px;
	margin-bottom: 10px;
}

/******************* Store Add CSS ************** */
#storeAdd_area table th p {
	margin-left:15px;
}

#storeAdd_area table tr td .inputBox3Wrap{
	margin:5px;
	width:360px;
	height:40px;
	padding: 0px 6px;
	
}

#storeAdd_area table tr td .inputBox3{ 	
	width:100%;
	font-size:15pt;
	border:0px;
	margin-top:0px;
	border:solid 1px darkgray;
}
#storeAdd_area .textarea_text{
	
}
#storeAdd_area .textareaBoxWrap{
	margin:5px;
	padding: 0px 6px;
	
}
#storeAdd_area .textareaBoxWrap .textareaBox{
	overflow-y: auto;
    resize: none;
    width: 480px;
    height: 84px;
    border: 1px solid darkgray;
    font-size: 12px;
    margin-left:5px;
}
#storeAdd_area #review_text_state{
    width: 485px;
    height: 16px;
    margin-top: -15px;
    font-size: 12pt;
    color: #fff;
    background: #444;
    text-align: center;
    line-height: 16px;
    margin-bottom:10px;
    border:0px;
    margin-left:5px;
 }
 
 #storeAdd_area .storeAdd_time{
	margin:5px;
	width:160px;
	height:40px;
	padding: 0px 6px;
 }

#content>#setting.body>table>tbody>tr>.value>div label {
    margin-right: 15px;
}
#storeAdd_area input[type=checkbox]:checked+label, input[type=radio]:checked+label {
    background-position: 0 1px;
    color: #c91b3c;
}
#storeAdd_area #storeAdd_cate li{
	list-style-type:none;
	float:left;
	margin-left: 20px;
	
}
#storeAdd_area #storeAdd_loca li{
	list-style-type:none;
	float:left;
	margin-left: 20px;
	
}
#storeAdd_area #review_photo_upload{
    width: 74px;
    height: 74px;
    margin-right: 4px;
    border: 2px dotted #c91b3c;
    font-size: 20px;
    color: #c91b3c;
    background: #fff;
    text-align: center;
    vertical-align: middle;
}


#storeAdd_area .file_input_hidden {
    /* font-size: 45px; */
    /* right: 0px; */
    /* position: absolute; */
    top: 0px;
    opacity: 0;
    z-index: -100;
    width: 0px;
    height: 0px;
    filter: alpha(opacity=0);
    -ms-filter: "alpha(opacity=0)";
    -khtml-opacity: 0;
    -moz-opacity: 0;
     text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 13.3333px Arial;
   float:left;
}
#storeAdd_area #thumnailArea{
    width: 450px;
    height: 74px;
    background: white;
    vertical-align: baseline; 
    float:right;
    
}
#storeAdd_area #itemPhoto{
	margin: 10px;
}

#storeAdd_area #storeAdd_enrollBtnWrap{
	border: none;
    width: 100%;
    height: 40px;
    padding: 0;
    margin: 10px 0 40px;
    background: 0 0;
   
}
#storeAdd_area #storeAdd_enrollBtn{
    width: 100%;
    height: 100%;
    font-size: 13px;
    color: #fff;
    border: 1px solid #c91b3c;
    background: #c91b3c;
     border-radius: 3px;
}
#storeAdd_area #storeAdd_price{
	text-align:right;
	margin-left:10px;
	width:150px;
}