#container {
    z-index: 10;
    position: relative;
    margin-top: 86px;
}
#banner_warp {
    width: 100%;
    background:black;
}

#banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 420px;
    background-size: cover;
    background-position: center center;
    opacity:0.5;
}


#content_wrap {
    position: relative;
    width: 970px;
    margin: 20px auto 150px;
}




/****** table ******/
#detail_table{
	background: white;
	width:730px;
}

#detail_table{
	margin: 20px 0px 40px 0px;
}

#detail_table tr{
	height:30px;
	margin-top:5px;
	border-top:2px solid #ddd;
	font-size : 10pt;
	vertical-align: middle;	
	line-height: 40px; 
	
}
#detail_table tr:first-child {
	border-top:2px solid #c91b3c;
	
}
#detail_table tr:nth-child(2) td {
	
}
	
#detail_table th{
	width: 120px;
	text-align:left;
	padding:0px 20px;
	font-weight:bold;
	
}

#detail_title{
	font-size:28pt;
	font-weight:bold;
	margin-bottom:20px;
	
}
.detail_imageArea{
	width:1280px;

}

#detail_titleImage{
	
	width:100%;
}

/***** first image *****/
#detail_firstImageWrap{
/* 	width:730px; */
	height:450px;
	
}
#detail_firstImage{
	background:black;
	width:100%;
	height:100%;
}
#detail_h{
	font-size:11pt;
}
p:after{
    width: 20px;
    content: '';
    height: 4px;
    background-color: #ffd014;
}

#map-canvas{
	margin-top:20px;
}

/******* Button Area*****/
#detail_btnAera{
	margin-top:20px;
}

#detail_updateBtn{
    width: 250px;
    height: 35px;
    float: left;
    background: #fff;
    border-radius: 3px;
    margin-top: 12px;
    margin-right: 7px;
    position: relative;
    padding-left: 5px;
    color: #fff;
    background: #920021!important;
    border: 0;
    font-size: 13px;
}
#detail_deleteBtn{
	width: 250px;
    height: 35px;
    float: right;
    background: #fff;
    border-radius: 3px;
    margin-top: 12px;
    margin-right: 7px;
    position: relative;
    padding-left: 5px;
    color: #fff;
    background: #808080!important;
    border: 0;
    font-size: 13px;
	
}
#detail_explain{
	font-size:20px;
	margin-bottom: 10px;
}

