#container {
    z-index: 10;
    position: relative;
    margin-top: 86px;
    
}

#banner_warp {
    width: 100%;
    background:black;
}

#banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 420px;
    background-size: cover;
    background-position: center center;
    opacity:0.5;
}

.trislider {
 
}


#content_wrap {
    position: relative;
    width: 970px;
    margin: 20px auto 150px;
}

#content_wrap>.section {
    text-align: center;
}

#content_wrap>.section.main>.title {
    margin: 80px 0 40px;
}

#content_wrap>.section>.title {
    text-align: center;
    font-size: 15pt;
    font-weight: 600;
    margin: 60px 0;
}



#content_wrap>.section>.body {
    overflow: hidden;
}

#content_wrap>.section.main>.body:after {
    content: "";
    display: block;
    clear: both;
}

.element {
    position: relative;
    border: 1px solid #e3e3e3;
    display: inline-block;
    text-align: justify;
    float: left;
    border-radius: 7px;
    overflow: hidden;
}


.element.first {
    margin-left: 0!important;
}

.element.wide_large {
    width: 317px;
    height: 207px;
    margin-left: 6px;
    margin-bottom: 40px;
}


.element>.image {
    position: relative;
    display: block;
    background: center center no-repeat;
    background-size: cover;
}

.element.wide_large>.image {
    height: 166px;
}


.element>.image>div {
    width: 100%;
}

.element>.image>.shading {
    height: 100%;
    background: #000;
    -moz-opacity: .3;
    -khtml-opacity: .3;
    opacity: .3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=30);
    filter: alpha(opacity=30);
}


.element>.image>.center {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 12pt;
    color: #fff;
    height: 100%;
}


.element>.image>.center>.middle {
    display: table-cell;
    vertical-align: middle;
}

/*=============================================*/

.element.large {
    width: 312px;
    margin-left: 13px;
    margin-bottom: 40px;
}

.element.large>.image {
    height: 312px;
}

.element>.image>.center>.middle>.subtitle {
    font-size: 17px;
    line-height: 23px;
}

/*serch page*/

#content.search {
    text-align: right;
}

#content {
    float: left;
    position: relative;
    width: 730px;
}

#content>.result {
    margin-bottom: 35px;
    color: gray;
    font-size: 16px;
    line-height: 28px;
}
#content>.result, #content>.title {
    text-align: center;
    margin-top: 50px;
}

#content>div>.highlight {
    font-weight: 600;
    color: #c91b3c;
    font-size: 18px;
    vertical-align: bottom;
}

ul.sort_order_spread {
    margin-bottom: 10px;
    font-size: 9pt;
}

#content>.list {
    overflow: hidden;
}

.element.first {
    margin-left: 0!important;
}

.element.medium {
    width: 233px;
    margin-left: 12px;
    margin-bottom: 57px;
    border-radius: 0;
    overflow: visible;
}

.element.medium>.image {
    height: 263px;
}

ul.sort_order_spread {
    margin-bottom: 10px;
    font-size: 9pt;
}

ul.sort_order_spread>li {
    cursor: pointer;
    display: inline-block;
    padding: 0 5px;
    border-right: 1px solid #444;
    color: #444;
}

ul.sort_order_spread>li.selected, ul.sort_order_spread>li:hover {
    color: #c91b3c;
}

.element>.desc {
    background-color: #fff;
    position: relative;
    padding: 8px 11px;
}

.element.medium>.desc {
    height: 95px;
}

.element>.desc>.place_info>.rating>.stars {
    float: left;
}

.element>.desc .rating>.grade {
    line-height: 22px;
    border: 1px solid #c91b3c;
    width: 41px;
    height: 22px;
    border-radius: 5px;
    text-align: center;
    color: #c91b3c;
    font-size: 13px;
}

.element>.desc>.place_info>.rating>.grade {
    float: right;
}

.element>.desc>.place_info>.budget {
    padding: 2px 0 5px;
    font-size: 12px;
    margin-top: 3px;
}

.element>.desc>.place_info>.comment {
    margin-top: 2px;
    line-height: 16px;
    color: #828282;
    font-size: 11px;
    height: 32px;
    overflow: hidden;
}

.element>.desc>.place_info>.detail {
    position: absolute;
    bottom: 9px;
}

.element>.btn {
    position: absolute;
    bottom: -33px;
}


.element>.btn>*, span.star {
    float: left;
    display: inline-block;
}


.element>.btn>* {
    margin: 0;
    width: 114px;
    font-size: 12px;
    text-align: center;
    padding: 6px 0;
    color: #888;
    background: #fff;
    border: 0;
    cursor: pointer;
    line-height: 16px;
}

.element>.btn>.review {
    height: 16px;
    color: #444;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.element>.btn>.review.full {
    width: 233px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}


/* << page list number >> */
div.page-list {
    text-align: center;
}

div.page-list>ul.pagination {
    margin-top: 10px;
}

div.page-list>ul.pagination>li {
    display: inline-block;
    cursor: pointer;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    color: #969696;
}

div.page-list>ul.pagination>li.active {
    color: #c91b3c;
    font-weight: 600;
    font-size: 11pt;
}
/*side bar 嶺뚢돦堉싮뇡�꼱�돦�뜝占� �뜝�럥�쓡�뜝�럩逾좂춯�쉻�삕  */
div#sidebar{
	position: relative;
    width: 220px;
    margin-top: 136px;
    float: right;
    background: inherit;
    border: 0;
}

div#sidebar>div.sidebar-list {
    position: relative;
    border: 1px solid #e3e3e3;
    border-top: 2px solid #c91b3c;
    background: #fff;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 1;
}

div#sidebar>div.sidebar-list>div.title {
    color: #c91b3c;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    line-height: 34px;
    cursor: default;
}

div#sidebar>div.sidebar-list>div.section {
    border-bottom: 1px solid #d3d3d3;
    text-align: left;
    padding-top: 10px;
    cursor: pointer;
    padding-bottom: 5px;
}





/* footer �뇖�궠�샑�얠뼲�삕占쎈뎄�뜝�럩逾졾뜝�럡�댉 */
#footer_wrap {
    padding: 26px 32px 10px;
    background: #373737;
    color: #fff;
    overflow: hidden;
}



element.style {
}
#content>.body.last {
    margin: 0;
}
#content>.body.first {
    border-top: none;
}
#content>.body {
    position: relative;
    width: 668px;
    padding: 30px;
    margin-bottom: 30px;
    border: 1px solid #e3e3e3;
    background: #fff;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: 'Noto Sans',sans-serif;
    -webkit-font-smoothing: subpixel-antialiased!important;
}
user agent stylesheet
div {
    display: block;
}
Inherited from div#content.detail.photo
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: 'Noto Sans',sans-serif;
    -webkit-font-smoothing: subpixel-antialiased!important;
}
Inherited from div#content_wrap
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: 'Noto Sans',sans-serif;
    -webkit-font-smoothing: subpixel-antialiased!important;
}
Inherited from div#container
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: 'Noto Sans',sans-serif;
    -webkit-font-smoothing: subpixel-antialiased!important;
}
Inherited from div#wrap
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: 'Noto Sans',sans-serif;
    -webkit-font-smoothing: subpixel-antialiased!important;
}
Inherited from body
body {
    line-height: 1;
    font-size: 13px;
    font-family: 'Noto Sans',sans-serif;
    color: #444;
    background-color: #f3f3f3;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: 'Noto Sans',sans-serif;
    -webkit-font-smoothing: subpixel-antialiased!important;
}
Inherited from html
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: 'Noto Sans',sans-serif;
    -webkit-font-smoothing: subpixel-antialiased!important;
}
Pseudo ::after element
#content, #content>.body:after, #content>.tab:after, #content_wrap:after {
    content: "";
    display: block;
    clear: both;
}



#content.detail.photo>.body>.section>.slider {
    width: 100%;
    height: 446px;
    background: #1e1e1e;
}
.PoingSlider_wrap {
    position: relative;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: 'Noto Sans',sans-serif;
    -webkit-font-smoothing: subpixel-antialiased!important;
}
user agent stylesheet
div {
    display: block;
}
Inherited from div.section
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: 'Noto Sans',sans-serif;
    -webkit-font-smoothing: subpixel-antialiased!important;
}
Inherited from div.body.first.last
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: 'Noto Sans',sans-serif;
    -webkit-font-smoothing: subpixel-antialiased!important;
}
Inherited from div#content.detail.photo
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: 'Noto Sans',sans-serif;
    -webkit-font-smoothing: subpixel-antialiased!important;
}
Inherited from div#content_wrap
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: 'Noto Sans',sans-serif;
    -webkit-font-smoothing: subpixel-antialiased!important;
}
Inherited from div#container
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: 'Noto Sans',sans-serif;
    -webkit-font-smoothing: subpixel-antialiased!important;
}
Inherited from div#wrap
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: 'Noto Sans',sans-serif;
    -webkit-font-smoothing: subpixel-antialiased!important;
}
Inherited from body
body {
    line-height: 1;
    font-size: 13px;
    font-family: 'Noto Sans',sans-serif;
    color: #444;
    background-color: #f3f3f3;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: 'Noto Sans',sans-serif;
    -webkit-font-smoothing: subpixel-antialiased!important;
}
Inherited from html
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: 'Noto Sans',sans-serif;
    -webkit-font-smoothing: subpixel-antialiased!important;
}

#content>.body.last {
    margin: 0;
}
#content>.body.first {
    border-top: none;
}
#content>.body {
    position: relative;
    width: 668px;
    padding: 30px;
    margin-bottom: 30px;
    border: 1px solid #e3e3e3;
    background: #fff;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: 'Noto Sans',sans-serif;
    -webkit-font-smoothing: subpixel-antialiased!important;
}
user agent stylesheet
div {
    display: block;
}
Inherited from div#content.detail.photo
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: 'Noto Sans',sans-serif;
    -webkit-font-smoothing: subpixel-antialiased!important;
}
Inherited from div#content_wrap
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: 'Noto Sans',sans-serif;
    -webkit-font-smoothing: subpixel-antialiased!important;
}
Inherited from div#container
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: 'Noto Sans',sans-serif;
    -webkit-font-smoothing: subpixel-antialiased!important;
}
Inherited from div#wrap
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: 'Noto Sans',sans-serif;
    -webkit-font-smoothing: subpixel-antialiased!important;
}
Inherited from body
body {
    line-height: 1;
    font-size: 13px;
    font-family: 'Noto Sans',sans-serif;
    color: #444;
    background-color: #f3f3f3;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: 'Noto Sans',sans-serif;
    -webkit-font-smoothing: subpixel-antialiased!important;
}
Inherited from html
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: 'Noto Sans',sans-serif;
    -webkit-font-smoothing: subpixel-antialiased!important;
}
Pseudo ::after element
#content, #content>.body:after, #content>.tab:after, #content_wrap:after {
    content: "";
    display: block;
    clear: both;
}



/*1. content_wrap*/
	/*2. content*/
		/*3. ul class=tab*/
			/*3_1. li class=item */
			/*3_2. li class=item */
			/*3_3. li class=item selected*/
			/*3_4. li class=item */
			/*3_5. li class=item */
		/*4. div class=body first*/
			/*4_1. div class=title */
			/*4_2. ul class=list */
				/*4_2_1. li class=item grade */
				/*4_2_2. li class=item text */
				/*4_2_3. li class=item photo */
		/*5. div class=body review write*/
			/*5_1. button class=border_radius soft */
		/*6. div class=sort_wrap*/
			/*6_1. ul class=sort_list */
		/*7. div class=body review list*/
			/*7_1. div class=title */
			/*7_2. hr */
			/*7_3. div class=review_detail */
			/*7_4. script */
		/*8. div class=body review list last*/
			/*8_1. div id=review_pagination */
/*--------------------------------------------------------*/

#content, 
#content>.body:after, 
#content>.tab:after, 
#content_wrap:after {
    content: "";
    display: block;
    clear: both;
}


/*1. content_wrap*/
#content_wrap {
    position: relative;
    width: 970px;
    margin: 20px auto 150px;
}


	/*2. content*/

#content {
    float: left;
    position: relative;
    width: 730px;
	left: 50%;
    transform: translateX(-50%);
}

		/*3. ul class=tab*/
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
ol, ul {
    list-style: none;
}
#content>.tab {
    width: 716px;
    padding: 0 6px;
    border: 1px solid #e3e3e3;
    border-top: 2px solid #c91b3c;
    background: #fff;
}


/*3_1. li class=item */

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
#content>.tab>.item {
    float: left;
    width: 80px;
    height: 37px;
    color: #444;
    font-size: 12pt;
    font-weight: 600;
    text-align: center;
    line-height: 34px;
}
			
		/*4. div class=body first*/
#content>.body {
    position: relative;
    width: 668px;
    padding: 30px;
    margin-bottom: 30px;
    border: 1px solid #e3e3e3;
    background: #fff;
}
#content>.body.first {
    border-top: none;
}
#content.review>.body.first {
    margin-bottom: 10px;
}

			/*4_1. div class=title */
#content.detail>.body>.section>.title, 
#content.detail>.body>.title {
    margin-left: 8px;
    margin-bottom: 26px;
    font-size: 15px;
    color: #444;
    font-weight: 600;
}


#content.review>.body.first>form .list {
    margin-left: 8px;
}


form ul.list {
	padding: 0;
}

form li {
    display: list-item;
    text-align: -webkit-match-parent;
}
#content.review>.body.first>form .list>.item {
    margin-bottom: 30px;
}
#content.review>.body.first>form .list>.item>.name {
    display: inline-block;
    width: 110px;
}
#content.review>.body.first>form .list>.item>.detail {
    display: inline-block;
    width: 540px;
    vertical-align: top;
}
#content.review>.body.first>form .list>.item.grade>.detail {
    vertical-align: middle;
}
i, input[type=checkbox].slide-toggle+label span {
    background-repeat: no-repeat;
    display: inline-block;
}
#nav_city, i {
    position: relative;
}
i {
    width: 100%;
    height: 100%;
    background-image: url(http://c1.poing.co.kr/original/images/recent_sheet.png);
}
i.icon.star.medium {
    width: 10px;
    height: 19px;
}
i.icon.star.medium.odd {
    background-position: -277px -66px;
}
element.style {
    cursor: pointer;
}
i.icon.star.medium.even {
    background-position: -287px -66px;
    padding-right: 2px;
}


/*4_2_2. li class=item text */
#content.review>.body.first>form .list>.item {
    margin-bottom: 30px;
}

#content.review>.body.first>form .list>.item>.detail {
    display: inline-block;
    width: 540px;
    vertical-align: top;
}
#content.review>.body.first>form .list>.item.text>.detail>textarea {
	overflow-y: auto;
    resize: none;
    width: 540px;
    height: 84px;
    border: 1px solid #d0d0d0;
    font-size: 13px;
}
#content.review>.body.first>form .list>.item.text>.detail>#review_text_state {
	width: 545px;
    height: 16px;
    margin-top: -2px;
    font-size: 7pt;
    color: #fff;
    background: #444;
    text-align: center;
    line-height: 16px;
}

/*4_2_3. li class=item photo */
#content.review>.body.first>form .list>.item:last-child {
    margin-bottom: 0;
}
#content.review>.body.first>form .list>.item.photo>.detail {
    height: 74px;
}
/*占쎄텢筌욊쑴�궞�뵳�덈┛ 疫뀐옙占쎈뎁 占쎌겳占쎈퓠 占쎌뿳占쎈뮉 +甕곌쑵�뱣*/
button {
    -webkit-appearance: button;
}
input, textarea, keygen, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}
input, textarea, keygen, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 13.3333px Arial;
}
input[type="button" i], 
input[type="submit" i], 
input[type="reset" i], 
input[type="file" i]::-webkit-file-upload-button, 
button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
}
input[type="button" i], 
input[type="submit" i], 
input[type="reset" i], 
input[type="file" i]::-webkit-file-upload-button, 
button {
    padding: 1px 6px;
}
button {
    cursor: pointer;
}
.border_radius.medium {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#content.review>.body.first>form .list>.item.photo>.detail>#review_photo_upload {
    display: inline-block;
    width: 74px;
    height: 74px;
    margin-right: 4px;
    border: 2px dotted #c91b3c;
    font-size: 20px;
    color: #c91b3c;
    background: #fff;
    text-align: center;
    vertical-align: middle;
}
/*占쎄텢筌욊쑴�궞�뵳�덈┛ 疫뀐옙占쎈뎁 占쎌겳占쎈퓠 占쎌뿳占쎈뮉 +甕곌쑵�뱣 占쎈뼄占쎌벉占쎈퓠占쎌뿳占쎈뮉 ul review_photo_list*/

ul ul, ol ul {
    list-style-type: circle;
}
ol ul, ul ol, ul ul, ol ol {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}

#content.review>.body.first>form .list>.item.photo>.detail>#review_photo_list {
    display: inline-block;
    vertical-align: top;
}


/*5. div class=body review write*/
#content.review form>.body.review.write {
    border: none;
    width: 100%;
    height: 40px;
    padding: 0;
    margin: 10px 0 40px;
    background: 0 0;
}

			/*5_1. button class=border_radius soft */
.border_radius.soft {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#content.review>.body.review.write>button {
    width: 100%;
    height: 100%;
    font-size: 13px;
    color: #fff;
    border: 1px solid #c91b3c;
    background: #c91b3c;
}


/*6. div class=sort_wrap*/
#content>.sort_wrap {
    float: right;
}


/*6_1. ul class=sort_list */
#content>.body>.sort_wrap>ul, #content>.sort_wrap>ul {
    margin-bottom: 5px;
    font-size: 9pt;
}


/*7. div class=body review list*/

#content>.list {
    overflow: hidden;
}
#content.review>.body.review.list {
    margin-bottom: 10px;
}


/*7_1. div class=title */
#content.review>.body.review.list>.title {
    margin-top: -14px;
}

/*7_2. hr */
hr {
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px;
}
hr {
    margin: 0;
    border: none;
    background: #e3e3e3;
    height: 1px;
}
#content.detail>.body>hr {
    margin-bottom: 20px;
}
#content.review>.body.review.list>hr {
    width: 730px;
    margin-top: -15px;
    margin-left: -31px;
    margin-bottom: 40px;
}


/*7_3. div class=review_detail */
.review_detail {
    margin-left: 8px;
}
/*�뵳�됰윮占쎌벥 占쎌삂占쎄쉐占쎌쁽 占쎄텢筌욑옙 a占쎄묶域뱄옙*/
a:-webkit-any-link {
    color: -webkit-link;
 /*    text-decoration: underline; */
    cursor: auto;
}
a {
    text-decoration: none;
}
.i_wrap {
    display: inline-block;
}
.review_detail>.i_wrap {
    float: left;
    width: 46px;
    height: 46px;
}
i {
    width: 100%;
    height: 100%;
    background-image: url(http://c1.poing.co.kr/original/images/recent_sheet.png);
}
i.image, i.profile_image {
    background-size: cover;
    background-position: center center;
}
.border_radius.circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
/*div class=user*/
.review_detail>.user {
    padding-left: 60px;
}
	/*name*/
.review_detail>.user>.name {
    position: relative;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 600;
}
		/*占쎌뵠�뵳袁⑹벥 a占쎄묶域뱄옙*/
a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}
a {
    text-decoration: none;
}
.review_detail>.user>.name>a {
    display: inline-block;
    min-width: 125px;
    color: #444;
}
	/*count 占쎄텢占쎌뒠 占쎈툧占쎈맙*/
	/*grade*/
.review_detail>.user>.grade {
    margin-bottom: 12px;
}
i {
    width: 100%;
    height: 100%;
    background-image: url(http://c1.poing.co.kr/original/images/recent_sheet.png);
}
i.icon.star.medium {
    width: 10px;
    height: 19px;
}
i.icon.star.medium.odd.active {
    background-position: -277px -42px;
}
i.icon.star.medium.even {
    background-position: -287px -66px;
    padding-right: 2px;
}
i.icon.star.medium.even.active {
    background-position: -287px -42px;
}


/*div class=review*/

	/*text*/
.review_detail>.review>.text {
    width: 540px;
    padding-left: 60px;
    margin-bottom: 20px;
    font-size: 13px;
}
pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-all;
    word-wrap: break-word;
}
.review_detail>.review>.text>pre {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    max-height: 400px;
    line-height: 18px;
}
	/*photo_list*/

.review_detail>.review>.action, .review_detail>.review>.photo_list {
    padding-left: 60px;
    margin-bottom: 20px;
}
.review_detail>.review>.photo_list>.item {
    display: inline-block;
    margin-right: 3px;
}
.i_wrap {
    display: inline-block;
}
button.empty {
    border: none;
    background: 0 0;
    padding: 0;
    margin: 0;
}
.review_detail>.review>.photo_list>.item>button {
    width: 84px;
    height: 84px;
}

/*7_4. script */
script {
    display: none;
}

		/*8. div class=body review list last*/
			/*8_1. div id=review_pagination */
div.page-list {
    text-align: center;
}
div.page-list>ul.pagination {
    margin-top: 10px;
}
	/*li .preAll .pre .next .nextAll*/
div.page-list>ul.pagination>li {
    display: inline-block;
    cursor: pointer;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    color: #969696;
}
div.page-list>ul.pagination>li.active {
    color: #c91b3c;
    font-weight: 600;
    font-size: 11pt;
}
div.page-list>ul.pagination>li {
    display: inline-block;
    cursor: pointer;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    color: #969696;
}
#content.review>.body.review.write {
/*     border: none; */
    width: 100%;
    height: 40px;
    padding: 0;
    margin: 10px 0 40px;
    background: 0 0;
}

#detail_table{
	background: white;
	width:730px;
	
}
/****** table ******/
#detail_table{
	margin: 20px 0px 40px 0px;
	
}

#detail_table tr{
	height:20px;
	margin-top:5px;
	border-top:2px solid #ddd;
	font-size : 10pt;
	vertical-align: middle;	
	line-height: 80px; 
}
#detail_table tr:first-child {
	border-top:2px solid #c91b3c;
	
}
	
#detail_table th{
	width: 120px;
	text-align:left;
	padding:0px 20px;
	font-weight:bold;
}

#detail_title{
	font-size:28pt;
	font-weight:bold;
	margin-bottom:20px;
	
}
.detail_imageArea{
	width:1280px;

}

#detail_titleImage{
	
	width:100%;
}
.item li{
	 text-decoration: none;
}

/***** first image *****/
#detail_firstImageWrap{
/* 	width:730px; */
/* 	height:500px; */
	margin-bottom:30px;
	
}
#detail_firstImage{
	background:black;
	/* width:100%; */
	height:100%;
}
#detail_h{
	font-size:11pt;
}
p:after{
    width: 20px;
    content: '';
    height: 4px;
    background-color: #ffd014;
}

#map-canvas{
	margin-top:20px;
}

/******* Button Area*****/
#detail_btnAera{
	margin-top:20px;
}

#detail_updateBtn{
    width: 250px;
    height: 35px;
    float: left;
    background: #fff;
    border-radius: 3px;
    margin-top: 12px;
    margin-right: 7px;
    position: relative;
    padding-left: 5px;
    color: #fff;
    background: #920021!important;
    border: 0;
    font-size: 13px;
}
#detail_deleteBtn{
	width: 250px;
    height: 35px;
    float: right;
    background: #fff;
    border-radius: 3px;
    margin-top: 12px;
    margin-right: 7px;
    position: relative;
    padding-left: 5px;
    color: #fff;
    background: #808080!important;
    border: 0;
    font-size: 13px;
	
}
