
/*********** JinHyung ***********/

/****** 퀢쮱칙 쎂 ******/
/* 턄절 쮩왑썞 핌*/
#lean_overlay {
	position: fixed;
	z-index: 100;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;
}

/*풤첉 퀢쮱칙*/
.main_loginPopup {
	position: absolute;
	width: 600px;
	height: auto;
	left: 45%;
	top: 60px;
	background: #FFF;
}
/*턎馨첎 퀢쮱칙*/
.main_joinPopup {
	position: absolute;
	width: 600px;
	height: auto;
	left: 45%;
	top: 60px;
	background: #FFF;
}
/*쥠좛좾탺칚쐑 퀢쮱칙*/
.main_pwSearchPopup {
	position: absolute;
	width: 600px;
	height: auto;
	left: 45%;
	top: 60px;
	background: #FFF;
}
/*턎馨쟕 select */
div#searchNickname, div#searchDate{
	display: none;
}